body {
    background-color: gainsboro;
    margin: 0%;
    padding: 0%;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
}
table {
    width: 100%;
}
th {
    font-weight: bold;
    text-transform: uppercase;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    
    
}